![](images/EscUpmPolit_p.gif "UPM")

## Load and clean

In [1]:
# General import and load data
import pandas as pd
import numpy as np

from pandas import Series, DataFrame

# Training and test spliting
from sklearn.cross_validation import train_test_split
from sklearn import preprocessing

# Estimators
from sklearn.svm import SVC

# Evaluation
from sklearn import metrics
from sklearn.cross_validation import cross_val_score, KFold, StratifiedKFold
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score

# Optimization
from sklearn.grid_search import GridSearchCV

# Visualisation
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(color_codes=True)


# if matplotlib is not set inline, you will not see plots
#alternatives auto gtk gtk2 inline osx qt qt5 wx tk
#%matplotlib auto
#%matplotlib qt
%matplotlib inline
%run plot_learning_curve

/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/anaconda2/lib/python2.7/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
ERROR:root:File `u'plot_learning_curve.py'` not found.

In [2]:
df = pd.read_csv('./data-churn/train.csv')
df.loc[df["Partner"] == "Yes", "Partner"] = 1
df.loc[df["Partner"] == "No", "Partner"] = 0
df.loc[df["Dependents"] == "Yes", "Dependents"] = 1
df.loc[df["Dependents"] == "No", "Dependents"] = 0
df.loc[df["PhoneService"] == "Yes", "PhoneService"] = 1
df.loc[df["PhoneService"] == "No", "PhoneService"] = 0
df.loc[df["InternetService"] == "No", "InternetService"] = 0
df.loc[df["InternetService"] == "DSL", "InternetService"] = 1
df.loc[df["InternetService"] == "Fiber optic", "InternetService"] = 2

df.loc[df["OnlineSecurity"] == "No", "OnlineSecurity"] = 0
df.loc[df["OnlineSecurity"] == "No internet service", "OnlineSecurity"] = 0
df.loc[df["OnlineSecurity"] == "Yes", "OnlineSecurity"] = 1
df.loc[df["TechSupport"] == "No", "TechSupport"] = 0
df.loc[df["TechSupport"] == "No internet service", "TechSupport"] = 0
df.loc[df["TechSupport"] == "Yes", "TechSupport"] = 1

df.loc[df["StreamingTV"] == "No", "StreamingTV"] = 0
df.loc[df["StreamingTV"] == "No internet service", "StreamingTV"] = 0
df.loc[df["StreamingTV"] == "Yes", "StreamingTV"] = 1

df.loc[df["StreamingMovies"] == "No", "StreamingMovies"] = 0
df.loc[df["StreamingMovies"] == "No internet service", "StreamingMovies"] = 0
df.loc[df["StreamingMovies"] == "Yes", "StreamingMovies"] = 1

df.loc[df["Contract"] == "Two year", "Contract"] = 0
df.loc[df["Contract"] == "One year", "Contract"] = 1
df.loc[df["Contract"] == "Month-to-month", "Contract"] = 2
df.loc[df["DeviceProtection"] == "No", "DeviceProtection"] = 0
df.loc[df["DeviceProtection"] == "Yes", "DeviceProtection"] = 1
df.loc[df["DeviceProtection"] == "No internet service", "DeviceProtection"] = 2

df.loc[df["gender"] == "Male", "gender"] = 0
df.loc[df["gender"] == "Female", "gender"] = 1

df.loc[df["PaymentMethod"] == "Bank transfer (automatic)", "PaymentMethod"] = 0
df.loc[df["PaymentMethod"] == "Mailed check", "PaymentMethod"] = 1
df.loc[df["PaymentMethod"] == "Electronic check", "PaymentMethod"] = 1
df.loc[df["PaperlessBilling"] == "Yes", "PaperlessBilling"] = 1
df.loc[df["PaperlessBilling"] == "No", "PaperlessBilling"] = 0

df.loc[df["MultipleLines"] == "No", "MultipleLines"] = 0
df.loc[df["MultipleLines"] == "No phone service", "MultipleLines"] = 0
df.loc[df["MultipleLines"] == "Yes", "MultipleLines"] = 1

df.drop(['OnlineBackup'], axis=1, inplace=True)
df.drop(['PaymentMethod'], axis=1, inplace=True)
df.drop(['TotalCharges'], axis=1, inplace=True)

len(df)

5543

In [3]:
#Check types are numeric
df.dtypes

customerID            int64
gender                int64
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService          int64
MultipleLines         int64
InternetService       int64
OnlineSecurity        int64
DeviceProtection      int64
TechSupport           int64
StreamingTV           int64
StreamingMovies       int64
Contract              int64
PaperlessBilling      int64
MonthlyCharges      float64
Churn                 int64
dtype: object

In [4]:
#Check there are not missing values
df.isnull().any()

customerID          False
gender              False
SeniorCitizen       False
Partner             False
Dependents          False
tenure              False
PhoneService        False
MultipleLines       False
InternetService     False
OnlineSecurity      False
DeviceProtection    False
TechSupport         False
StreamingTV         False
StreamingMovies     False
Contract            False
PaperlessBilling    False
MonthlyCharges      False
Churn               False
dtype: bool

# Train and test splitting

We use the same techniques we applied in the Iris dataset. 

Nevertheless, we need to remove the column 'Survived'

In [5]:
# Features of the model
features = ['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 
            'InternetService','OnlineSecurity','DeviceProtection','TechSupport','StreamingTV','StreamingMovies',
            'Contract','PaperlessBilling','MonthlyCharges']
# Transform dataframe in numpy arrays
X = df[features].values
y = df['Churn'].values
len(y)

5543

# Define model

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=33)
types_of_kernels = ['linear', 'rbf', 'poly']

kernel = types_of_kernels[0]
gamma = 3.0

# Create kNN model
model = SVC(kernel=kernel, probability=True, gamma=gamma)
model.fit(X_train, y_train)

predicted = model.predict(X_test)
expected = y_test
metrics.accuracy_score(expected, predicted)

0.8073593073593074

Ok, we get around 80% of accuracy!

In [7]:
dfTest = pd.read_csv('./data-churn/test_nolabel.csv')

In [8]:
dfTest.loc[dfTest["Partner"] == "Yes", "Partner"] = 1
dfTest.loc[dfTest["Partner"] == "No", "Partner"] = 0
dfTest.loc[dfTest["Dependents"] == "Yes", "Dependents"] = 1
dfTest.loc[dfTest["Dependents"] == "No", "Dependents"] = 0
dfTest.loc[dfTest["PhoneService"] == "Yes", "PhoneService"] = 1
dfTest.loc[dfTest["PhoneService"] == "No", "PhoneService"] = 0
dfTest.loc[dfTest["InternetService"] == "No", "InternetService"] = 0
dfTest.loc[dfTest["InternetService"] == "DSL", "InternetService"] = 1
dfTest.loc[dfTest["InternetService"] == "Fiber optic", "InternetService"] = 2
dfTest.loc[dfTest["OnlineSecurity"] == "No", "OnlineSecurity"] = 0
dfTest.loc[dfTest["OnlineSecurity"] == "No internet service", "OnlineSecurity"] = 0
dfTest.loc[dfTest["OnlineSecurity"] == "Yes", "OnlineSecurity"] = 1
dfTest.loc[dfTest["TechSupport"] == "No", "TechSupport"] = 0
dfTest.loc[dfTest["TechSupport"] == "No internet service", "TechSupport"] = 0
dfTest.loc[dfTest["TechSupport"] == "Yes", "TechSupport"] = 1

dfTest.loc[dfTest["StreamingTV"] == "No", "StreamingTV"] = 0
dfTest.loc[dfTest["StreamingTV"] == "No internet service", "StreamingTV"] = 0
dfTest.loc[dfTest["StreamingTV"] == "Yes", "StreamingTV"] = 1

dfTest.loc[dfTest["StreamingMovies"] == "No", "StreamingMovies"] = 0
dfTest.loc[dfTest["StreamingMovies"] == "No internet service", "StreamingMovies"] = 0
dfTest.loc[dfTest["StreamingMovies"] == "Yes", "StreamingMovies"] = 1

dfTest.loc[dfTest["Contract"] == "Two year", "Contract"] = 0
dfTest.loc[dfTest["Contract"] == "One year", "Contract"] = 1
dfTest.loc[dfTest["Contract"] == "Month-to-month", "Contract"] = 2
dfTest.loc[dfTest["DeviceProtection"] == "No", "DeviceProtection"] = 0
dfTest.loc[dfTest["DeviceProtection"] == "Yes", "DeviceProtection"] = 1
dfTest.loc[dfTest["DeviceProtection"] == "No internet service", "DeviceProtection"] = 2

dfTest.loc[dfTest["gender"] == "Male", "gender"] = 0
dfTest.loc[dfTest["gender"] == "Female", "gender"] = 1

dfTest.loc[dfTest["PaymentMethod"] == "Bank transfer (automatic)", "PaymentMethod"] = 0
dfTest.loc[dfTest["PaymentMethod"] == "Mailed check", "PaymentMethod"] = 1
dfTest.loc[dfTest["PaymentMethod"] == "Electronic check", "PaymentMethod"] = 1
dfTest.loc[dfTest["PaperlessBilling"] == "Yes", "PaperlessBilling"] = 1
dfTest.loc[dfTest["PaperlessBilling"] == "No", "PaperlessBilling"] = 0

dfTest.loc[dfTest["MultipleLines"] == "No", "MultipleLines"] = 0
dfTest.loc[dfTest["MultipleLines"] == "No phone service", "MultipleLines"] = 0
dfTest.loc[dfTest["MultipleLines"] == "Yes", "MultipleLines"] = 1
dfTest.drop(['OnlineBackup'], axis=1, inplace=True)
dfTest.drop(['PaymentMethod'], axis=1, inplace=True)
dfTest.drop(['TotalCharges'], axis=1, inplace=True) 
dfTest.drop(['customerID'], axis=1, inplace=True)

X2 = dfTest
X2[:]

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,MonthlyCharges
0,0,1,1,0,65,1,1,2,1,0,0,1,1,1,1,100.75
1,1,0,1,1,67,1,1,2,0,1,1,1,1,1,1,112.35
2,0,0,0,0,2,0,0,1,0,1,0,1,1,2,1,49.25
3,0,0,0,0,7,0,0,1,0,0,0,0,0,1,1,24.35
4,0,0,0,0,12,1,0,2,0,0,0,1,0,2,1,81.45
5,1,1,0,0,57,1,1,2,1,1,1,0,1,0,0,101.30
6,1,0,0,0,52,1,0,1,0,1,0,0,1,2,1,59.45
7,0,0,0,0,15,1,0,0,0,2,0,0,0,1,0,19.80
8,1,0,1,0,42,1,1,1,0,0,0,0,0,2,1,50.25
9,1,0,0,0,2,0,0,1,0,0,0,1,1,2,0,51.40
10,1,0,1,0,9,1,0,2,0,0,0,1,1,2,0,89.45
11,0,0,0,0,19,0,0,1,0,0,0,0,0,2,1,25.15
12,1,1,0,0,14,1,1,2,0,1,0,1,1,2,1,104.85
13,0,0,1,1,23,1,0,0,0,2,0,0,0,0,0,20.90
14,0,0,1,0,3,1,0,2,0,0,0,0,0,2,1,70.30
15,0,0,0,0,4,1,0,1,0,0,0,0,0,2,0,44.55
16,1,0,0,0,7,1,1,2,0,0,0,0,0,2,1,75.10
17,0,0,0,0,1,1,1,1,0,0,0,1,0,2,1,59.85
18,0,0,1,0,72,1,1,1,1,1,1,1,1,0,0,92.30
19,1,0,0,0,21,1,0,2,0,0,0,0,0,2,1,68.65
20,1,0,1,1,69,1,0,0,0,2,0,0,0,0,0,19.70
21,0,0,0,0,1,1,0,0,0,2,0,0,0,2,0,20.80
22,1,1,0,0,2,1,0,2,0,0,0,0,1,2,1,79.75
23,1,0,0,0,1,1,0,0,0,2,0,0,0,2,0,20.50
24,1,0,1,1,43,1,1,2,0,1,0,1,1,2,1,99.30
25,1,0,1,1,18,1,0,0,0,2,0,0,0,2,0,20.45
26,1,0,0,0,50,0,0,1,0,1,1,0,0,0,0,39.70
27,0,0,1,0,42,1,1,1,1,0,1,1,1,1,0,80.45
28,0,0,0,0,1,0,0,1,0,0,0,0,1,2,1,35.25
29,1,0,0,0,10,1,1,2,0,0,0,0,0,2,1,75.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1470,1,0,1,1,72,1,1,2,1,0,0,1,0,0,1,95.90
1471,0,0,1,1,6,1,0,1,0,1,0,0,0,2,1,55.30
1472,1,0,1,1,71,1,0,0,0,2,0,0,0,0,0,19.70
1473,1,0,0,0,1,1,0,1,0,0,0,0,0,2,0,45.80
1474,1,0,1,1,72,1,1,2,0,1,1,0,1,0,1,98.65
1475,0,0,1,1,62,1,0,2,1,1,1,1,1,0,0,108.15
1476,0,0,1,1,64,1,1,2,1,1,0,0,0,2,1,91.80
1477,0,0,0,0,28,0,0,1,0,0,1,0,0,2,1,30.10
1478,0,1,0,0,15,1,0,2,0,0,0,0,0,2,1,74.40
1479,1,1,0,0,9,1,1,2,0,0,0,0,0,2,1,74.55
1480,1,0,1,0,52,1,0,1,1,1,0,1,0,1,1,64.30
1481,0,0,1,1,25,1,0,1,0,1,0,0,0,1,0,53.65
1482,0,0,1,0,60,0,0,1,0,1,1,1,1,2,1,60.20
1483,1,0,0,1,62,1,1,2,0,1,0,1,1,1,1,100.15
1484,1,0,0,0,52,1,0,0,0,2,0,0,0,1,0,20.65
1485,0,0,1,1,72,1,1,0,0,2,0,0,0,0,0,25.55
1486,0,0,1,1,25,1,0,0,0,2,0,0,0,1,0,19.60
1487,0,0,0,0,22,1,0,1,1,0,1,0,0,2,0,55.10
1488,0,0,0,0,17,1,0,0,0,2,0,0,0,1,0,19.95
1489,0,0,1,0,39,1,0,0,0,2,0,0,0,0,1,20.45
1490,1,0,0,0,1,1,0,2,0,0,0,0,0,2,0,71.35
1491,1,0,1,1,7,1,0,1,1,1,1,1,0,2,1,75.70
1492,1,1,1,0,1,0,0,1,0,0,0,0,0,2,1,24.80
1493,0,0,1,1,1,1,0,0,0,2,0,0,0,1,0,18.80
1494,1,1,0,0,18,1,0,2,0,0,0,0,0,2,1,73.55
1495,1,0,1,1,2,0,0,1,0,0,1,0,0,2,0,29.05
1496,1,1,1,0,5,1,0,2,0,0,0,0,0,2,1,69.35
1497,1,0,0,0,46,1,0,0,0,2,0,0,0,0,1,21.10
1498,0,1,0,0,21,1,1,2,0,1,0,1,1,2,1,104.35
1499,0,0,1,1,68,1,0,2,1,0,1,0,1,0,0,95.10

In [9]:
model = SVC(kernel=kernel, probability=True, gamma=gamma)
model.fit(X, y)
churn = model.predict(X2)
dataframeResult = pd.read_csv('./data-churn/test_nolabel.csv').filter(['customerID'], axis=1)
dataframeResult['Churn'] = churn
dataframeResult[:]

      customerID  Churn
0       21135993      0
1       13130474      0
2        7533169      1
3     2114231208      0
4        3524728      1
5      192125049      0
6      172428986      0
7       21329444      0
8      232256498      0
9      162223094      0
10      51038704      1
11       3192991      0
12      14207440      1
13      16148243      0
14     151417704      1
15       9638888      0
16    1824179531      1
17       9183692      1
18     102305485      0
19      38229369      1
20     171172457      0
21      62027146      0
22     222524938      1
23     122574217      0
24      22166710      0
25      25129125      0
26     316156156      0
27     231726750      0
28       2185655      1
29      12189076      1
...          ...    ...
1470     1380287      0
1471     3029366      0
1472   221821377      0
1473   610239047      0
1474    21139551      0
1475     1782114      0
1476     8192630      0
1477  1323170139      0
1478   141961567      1
1479   192162726      1
1480   152133397      0
1481      304169      0
1482    64150263      0
1483     1212551      0
1484   232226447      0
1485     5197900      0
1486  2513179236      0
1487  2224140284      0
1488    71331462      0
1489   114216100      0
1490    11021410      1
1491     4317247      0
1492   221527250      1
1493   122319988      0
1494   122143163      1
1495  1014207636      0
1496    17133913      1
1497    14165210      0
1498    24777679      1
1499   161514055      0

[1500 rows x 2 columns]

In [10]:
dataframeResult.to_csv('outSVM.csv', sep=',',index=False)